<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Employee {{ employee.employee_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav id="home-nav">
        <h2 class="home-tag">EmpNet</h2>
        <h3><a href="/view" class="btn btn-primary">Home</a></h3>
    </nav>

    <div class="emp_id">
        <p>Company: {{ company.name }}</p>
        <p>Employee:  {{ employee.last_name }}, {{ employee.first_name }}</p>
    </div>  

    <div class="content">
        <div class="table-div">
            <table class="table table-striped styled-table">
                <thead class="table-head">
                    <tr>
                        <td class="data-field"><b>Employee ID</b></td>
                        <td id="emp-id" class="table-data"><b>{{ employee.employee_id }}</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="data-field">First Name</td>
                        <td class="table-data">{{ employee.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="data-field">Last Name</td>
                        <td class="table-data">{{ employee.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="data-field">Department</td>
                        <td class="table-data">{{ employee.employee_department }}</td>
                    </tr>
                    <tr>
                        <td class="data-field">Salary</td>
                        <td class="table-data">${{ employee.employee_salary }} CAD</td>
                    </tr>
                    <tr>
                        <td class="data-field">Age</td>
                        <td class="table-data">{{ employee.employee_age }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="nav_bar">
            <a href="/edit/{{ employee.employee_id }}"><button type="button" class="btn btn-primary">Edit Employee</button></a>
            <a href="/delete/{{ employee.employee_id }}"><button type="button" class="btn btn-danger">Delete Employee</button></a>
        </div>
    </div>
</body>
</html>